.page-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#C20A0A, #530202, #08024C, #3425D8);
    color:rgba(245, 245, 245, 0.864)
}

.page-container > .choice-btns-btn-grid > .btn {
    background-color: #6FDFF0;
    color: #000000;
    border: 1px solid #262af8ef;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s;
}